body {
  margin: 0;
}

header {
  display: flex;
	align-items: center;
  background-color: powderblue;
	box-shadow: gray 0 2px 8px;
	min-height: 64px;

  width: 100%;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(13, 1fr);
  width: 800px;
}

.stars {
  grid-row: 1 / span 7;
  display: flex;
}

.stars img {
  width: 100%;
  height: auto;
}

.stripe {
  grid-column: 1 / -1;
}

.stripe--red {
  background-color: red;
}

.top-right {
  grid-column-start: 2;
}