body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: firebrick;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 90vw;
  margin: 30px 0;
}

.product {
  border-radius: 20px;
  background-color: rgb(247, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
}

h3, p, .description {
  margin: 2px;
  padding: 0 5px;
}

h3 span {
  color: gray;
}

.description {
  width: 90%;
  height: 80px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  border-radius: 40px;
  background-color: firebrick;
  color: white;
  padding: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 10px;
}

a:hover {
  background-color: rgb(129, 22, 22);
  cursor: pointer;
}